/* Style for form container */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

/* Style for form header */
header {
  text-align: center;
  background-color: #008000;
  color: #fff;
  padding: 10px;
  text-align: center;
}


/* Style for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for form inputs */
input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Style for form submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Style for error messages */
small {
  color: red;
  display: block;
  margin-top: 5px;
}

/* Style for fieldset and legend */
fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for radio button and checkbox */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Style for success message */
#uniqueId {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  color: #155724;
  font-size: 16px;
  font-weight: bold;
}

/* Style for generate button */
#generate-button {
  margin-top: 10px;
}
